.container {
  display: flex;
  width: 80%;
  margin: auto;
  /* height: 1200px; */
  overflow-y: scroll;
  height: 600px;
}

.sidebar {
  /* background-color: blue; */
  width: 30%;
  height: 200px;
  overflow-y: hidden;
}
.sidebar-fixed {
  position: fixed;
  top: 0;
}

.feed {
  background-color: antiquewhite;
  width: 40%;
  /* height: 1200px; */
}

.post {
  height: 200px;
  margin: 20px;
  background-color: blueviolet;
}
.post img {
  height: 100px;
  width: 100px;
}

.widget {
  /* background-color: antiquewhite; */
  height: 300px;
  width: 30%;
  /* position: fixed; */
}
